.dropdown-menu.cart::before {
    content: '';
    height: 93.2vh;
    width: 100vw;
    position: fixed;
    background: rgba(57, 55, 72, 0.22);
    right: -3px;
    z-index: -1;
    /* left: -131px; */
}

@media screen and (max-width: 992px) {
    .dropdown-menu.cart::before {
    right: 0;
    height: 96vh;
    }
}

@media screen and (max-width: 768px) {
    .dropdown-menu.cart {
    width: 100vw;
    right: -7vw;
    }
}

.header {
    top: 0px !important;
    display: grid;
    grid-template-areas:
    'logo . dropdowns'
    'navs navs navs';

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
}

.logo {
    grid-area: logo;
}
.navs {
    grid-area: navs;
}
.dropdowns {
    grid-area: dropdowns;
}

.currency {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}